
.section-map{
  text-align: left;
  background-color: #d0e9e8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 2fr));

}
.div-list{
  color: #959595;
  overflow: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.div-list-item{
  margin: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 2fr));
  background: #e8f4f3;
  border-radius: 1rem ;
}

.link-description{
  text-decoration: none;
}
.div-list-item .text-name img{
  display: flex;
  width: 5rem;
  height:5rem;
}

.div-list-item:hover{
  border: solid 0.2rem #4a7978;
}

.text-name{
  font-weight: bold;
  padding-left: 0.5rem;
}

.text-type{
  font-size: 0.8rem;  
  margin-top: -0.2rem;
  margin-bottom: 1rem;
  color: #6ebcba;
}
.text-description{
  margin-top: 1rem;
  margin-left: -1.2rem;
  min-width: 100%;
}

.div-price{
  margin-left: 1.5rem;
  background-color: #a1d2d1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: inline;
  font-weight: bold;

}

.div-description-doctor{
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.div-days{
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-days div{
  min-width: 60%;
  min-height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #b9dddc;
  margin-bottom: 0.4rem;
  border-radius: 0.8rem;
  background-color: #395a59;
}

.div-days-item:hover{
  cursor: pointer;
  filter: contrast(1.2);
} 

.div-map{  
  min-height: 80vh;
  display: flex;
  min-width: 40vh;

}
.iframe-map{
  border: none;
  min-width:100%;
  max-height: 100%;
}


@media screen and (max-width:600px){ 
.div-map{
  display: none;
}
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #8ba2a1;
  border-radius: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: #ddd;
}