section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.main-specialties{
  width: 80%;
}
.specialties-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-decoration: none;
  justify-items: center;
  margin-top: 1rem;
}

.specialties-items div{
  background-color: #a6cecd;
  color: #4A7978;
  border-radius: 2rem;
  min-width: 12rem;
  min-height: 4rem;
  margin-bottom: 1rem;
}

.ico-specialties{
  min-width: 4.5rem;
  min-height: 3.5rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.specialties-items div:hover{
  border: solid 1px white;
  transition:all .5s ease-in-out;
  filter: contrast(1.3) invert(2%);
  cursor: pointer;
}