section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.main-specialties{
  width: 80%;
}
.specialties-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap :1rem;
  text-decoration: none;
}

.specialties-items div{
  margin-top: 1rem;
  background-color: #a6cecd;
  color: #58629B;
  border-radius: 2rem;
  width: 80%;
  min-height: 7rem;
  
}

.specialties-items div img{
  height: 4rem;
  width: 4rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.specialties-items div:hover{
  margin-top: 1.2rem;
  transition:all .5s ease-in-out;
  filter: contrast(1.3) invert(2%);
  cursor: pointer;
}