main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.main-specialties{
  width: 80%;
}
.specialties-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap :2rem;
}

.specialties-items div{
  background-color: rgb(187, 203, 223);
  color: #58629b;
  border-radius: 2rem;
  width: 100%;
  height: 8rem;
  box-shadow: 0 0 1rem #58629b;
}

.specialties-items div img{
  height: 4rem;
  width: 4rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.specialties-items div:hover{
  margin-top: -0.3rem;
  transition:all .5s ease-in-out;
  filter: contrast(1.6) invert(2%);
  cursor: pointer;
}